.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    border: 1px solid black;
    height: 456px;
    width: 452px;
}

.cell {
    border: 1px solid gray;
    background-color: rgb(218, 208, 208);
    height: 150px;
    width: 150px;
}
